$white: #f8f8f8;
$standard-radius: 1rem;

$brand-primary: #117aca;
$brand-secondary: #128842;
$brand-font-family: 'Roboto', sans-serif;

// $brand-primary: #58321f;
// $brand-secondary: #8ec3e3;
// $brand-font-family: 'Merriweather', serif;